<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="like">
	<resultMap type="blogLikeDto" id="blogLikeMap">
		<result property="like_no" column="LIKE_NO" />
		<result property="blog_no" column="BLOG_NO" />
		<result property="user_id" column="USER_ID"/>
		<result property="like_check" column="LIKE_CHECK"/>
	</resultMap>
	
	<!-- Blog Like -->
	<select id="countLike" resultType="int" parameterType="HashMap">
		SELECT COUNT(LIKE_NO) AS CNT
		FROM BLOG_LIKE
		WHERE BLOG_NO=#{blog_no} AND USER_ID=#{user_id}
	</select>
	
	<insert id="create" parameterType="HashMap">
		INSERT INTO BLOG_LIKE(LIKE_NO, BLOG_NO, USER_ID, LIKE_CHECK)
		VALUES( (SELECT NVL(MAX(LIKE_NO),0)+1 AS LIKE_NO FROM BLOG_LIKE), #{blog_no}, #{user_id},0 )
	</insert>
	
	
	<update id="like_check" parameterType="HashMap">
		UPDATE BLOG_LIKE
		SET LIKE_CHECK = LIKE_CHECK +1
		WHERE USER_ID = #{user_id}
		AND BLOG_NO = #{blog_no}
	</update>
	
	<update id="like_check_cancel" parameterType="HashMap">
		UPDATE BLOG_LIKE
		SET LIKE_CHECK = 0
		WHERE USER_ID = #{user_id}
		AND BLOG_NO = #{blog_no}
	</update>
	
	<select id="read" resultType="blogLikeDto" parameterType="HashMap">
		SELECT LIKE_NO, BLOG_NO, USER_ID, LIKE_CHECK
		FROM BLOG_LIKE
		WHERE BLOG_NO=#{blog_no}
		AND USER_ID=#{user_id}
	</select>
	
	<delete id="deletebyBlogno" parameterType="int">
		DELETE FROM BLOG_LIKE
		WHERE BLOG_NO=#{blog_no}
	</delete>
	
	<delete id="deletebyUserid" parameterType="String">
		DELETE FROM BLOG_LIKE
		WHERE USER_ID=${user_id}
	</delete>
	
</mapper>