<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="blog">
	<resultMap type="blogDto" id="blogMap">
		<result property="blog_no" column="BLOG_NO" />
		<result property="user_id" column="USER_ID"/>
		<result property="blog_title" column="BLOG_TITLE"/>
		<result property="blog_content" column="BLOG_CONTENT"/>
		<result property="blog_count" column="BLOG_COUNT"/>
		<result property="blog_like" column="BLOG_LIKE"/>
		<result property="blog_img" column="BLOG_IMG"/>
		<result property="regdate" column="REGDATE"/>
	</resultMap>
	
	<select id="lastNumber" resultType="int">
		SELECT MAX(BLOG_NO) FROM BLOG
	</select>
	
	<select id="blogList" parameterType="list" resultMap="blogMap">
		SELECT *
		FROM 
		(SELECT ROWNUM,BLOG_NO,USER_ID,BLOG_TITLE,BLOG_CONTENT,BLOG_COUNT,BLOG_LIKE,BLOG_IMG,REGDATE 
		FROM BLOG ORDER BY BLOG_NO DESC)
		
	</select>
	
	<select id="pagingBlog" resultType="int">
		SELECT COUNT(*) FROM BLOG
	</select>
	
	<select id="searchBlog" parameterType="string" resultType="blogDto">
		SELECT * 
		FROM BLOG
		WHERE BLOG_TITLE LIKE #{keyword}
		ORDER BY BLOG_NO DESC
	</select>
	
	<select id="blogDetail" resultType="blogDto" parameterType="int">
		SELECT BLOG_NO, USER_ID, BLOG_TITLE, BLOG_CONTENT, BLOG_COUNT, BLOG_LIKE, BLOG_IMG, REGDATE
		FROM BLOG
		WHERE BLOG_NO = #{blog_no}
	</select>
	
	<insert id="blogInsert" parameterType="blogDto">
		INSERT INTO BLOG
		VALUES(BLOG_NO_SEQ.NEXTVAL, 'ADMIN', #{blog_title}, #{blog_content}, #{blog_count}, #{blog_like}, 'resources/images/blog-write01.png', SYSDATE)
	</insert>
	
	<select id="selectBlogNo" parameterType="String" resultType="blogDto">
		SELECT BLOG_NO FROM BLOG WHERE BLOG_TITLE=#{blog_title}
	</select>
	
	<update id="blogUpdate" parameterType="blogDto">
		UPDATE BLOG
		SET BLOG_TITLE=#{blog_title}, BLOG_CONTENT=#{blog_content}
		WHERE BLOG_NO=#{blog_no}
	</update>
	
	<delete id="blogDelete" parameterType="int">
		DELETE FROM BLOG WHERE BLOG_NO=#{blog_no}
	</delete>
</mapper>