<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="market">

	<resultMap id="productMap" type="productDto">
		<result property="p_id" column="p_id"/>
		<result property="p_name" column="p_name"/>
		<result property="p_short_desc" column="p_short_desc"/>
		<result property="p_price" column="p_price"/>
		<result property="p_description" column="p_description"/>
		<result property="p_cal" column="p_cal"/>
		<result property="p_amount" column="p_amount"/>
		<result property="p_category" column="p_category"/>
		<result property="img_path" column="img_path"/>
		<result property="seller_desc" column="seller_desc"/>
	</resultMap>


	<select id="productList" parameterType="list" resultMap="productMap">
		SELECT P_ID, P_NAME, P_SHORT_DESC, P_PRICE, IMG_PATH FROM PRODUCT 
		WHERE P_NO BETWEEN
		<foreach collection="list" index="index" item="p_no" separator="AND">
			#{p_no}
		</foreach>
	</select>
	
	<select id="paging" resultType="int">
		SELECT COUNT(*) FROM PRODUCT
	</select>
	
	<select id="likeProductList" parameterType="string" resultMap="productMap">
		SELECT IMG_PATH, P_ID
		FROM PRODUCT
		JOIN PRODUCT_LIKE USING(P_ID)
		WHERE USER_ID = #{user_id}
	</select>
	
	<select id="hashTagSearch" parameterType="string" resultMap="productMap">
		SELECT P_ID, P_NAME, P_SHORT_DESC, P_PRICE, IMG_PATH
		FROM PRODUCT
		JOIN PRODUCT_CATEGORY USING(P_ID)
		WHERE P_CATEGORY = #{tagName}
	</select>
	
	<select id="getProduct" resultType="productDto" parameterType="string">
		SELECT * FROM PRODUCT WHERE P_ID = #{p_id}
	</select>
	
	<select id="searchKeyword" resultType="productDto">
		SELECT * FROM PRODUCT
		WHERE P_NAME LIKE #{tagName}
	</select>
	
	<select id="isProduct" parameterType="cartProductDto" resultType="cartProductDto">
		SELECT * FROM CART_PRODUCT
		WHERE USER_ID = #{user_id} AND P_ID = #{p_id}
	</select>
	
	<select id="getReview" parameterType="string" resultType="reviewDto">
		SELECT P_ID, REVIEW_CONTENT, REVIEW_REGDATE, USER_ID, USER_NAME, USER_IMG
		FROM REVIEW
		JOIN E_ORDER USING(ORDER_ID)
		JOIN E_USER USING(USER_ID)
		WHERE P_ID = #{p_id}
	</select>
	
	<insert id="putShoppingBag" parameterType="cartProductDto">
		INSERT INTO CART_PRODUCT VALUES(#{user_id},#{p_id},#{cart_count},#{cart_price})
	</insert>
	
	<insert id="likeProductInsert" parameterType="productLikeDto">
		INSERT INTO PRODUCT_LIKE VALUES(#{user_id}, #{p_id})
	</insert>
	
	<delete id="deleteProductLike" parameterType="productLikeDto">
		DELETE FROM PRODUCT_LIKE WHERE P_ID = #{p_id} AND USER_ID = #{user_id}
	</delete>
	
	<select id="getCartList" parameterType="cartProductDto" resultType="cartProductDto">
		SELECT P_ID, CART_COUNT, CART_PRICE, P_NAME, IMG_PATH
		FROM CART_PRODUCT
		JOIN PRODUCT USING (P_ID)
		WHERE USER_ID = #{user_id}
	</select>
	
	
</mapper>