<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recipe">
	
	<resultMap type="recipeDto" id="recipeMap">
		<result property="recipe_no" column="RECIPE_NO"/>
		<result property="recipe_title" column="RECIPE_TITLE"/>
		<result property="recipe_category" column="RECIPE_CATEGORY"/>
		<result property="recipe_content" column="RECIPE_CONTENT"/>
		<result property="recipe_count" column="RECIPE_COUNT"/>
		<result property="recipe_img" column="RECIPE_IMG"/>
		<result property="recipe_enabled" column="RECIPE_ENABLED"/>
		<result property="regdate" column="REGDATE"/>
	</resultMap>
	
	<select id="recipeList" parameterType="list" resultMap="recipeMap">
		SELECT RECIPE_NO, RECIPE_TITLE, RECIPE_CATEGORY, RECIPE_CONTENT, RECIPE_COUNT, RECIPE_IMG,RECIPE_ENABLED, REGDATE
		FROM RECIPE
		ORDER BY RECIPE_NO DESC
	</select>
	
	<select id="recipeDetail" resultType="recipeDto" parameterType="int">
		SELECT RECIPE_NO, RECIPE_TITLE, RECIPE_CATEGORY, RECIPE_CONTENT, RECIPE_COUNT, RECIPE_IMG,RECIPE_ENABLED, REGDATE
		FROM RECIPE
		WHERE RECIPE_NO = #{recipe_no} 
	</select>
	
	<insert id="recipeInsert" parameterType="recipeDto">
		INSERT INTO RECIPE
		VALUES(R_NO_SEQ.NEXTVAL,#{recipe_title},#{recipe_category},#{recipe_content},0,#{recipe_img},DEFAULT,SYSDATE);
	</insert>

	<update id="recipeUpdate" parameterType="recipeDto">
		UPDATE RECIPE
		SET RECIPE_TITLE=#{recipe_title}, RECIPE_CATEGORY=#{recipe_category}, RECIPE_CONTENT=#{recipe_content}
		WHERE RECIPE_NO=#{recipe_no}
	</update>
	
	<delete id="recipeDelete" parameterType="String">
		DELETE FROM RECIPE
		WHERE RECIPE_NO=#{recipe_no}
	</delete>
</mapper>