<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reply">
	
	<!-- Reply -->
	<resultMap type="replyDto" id="replyMap">
		<result property="reply_no" column="REPLY_NO" />
		<result property="blog_no" column="BLOG_NO" />
		<result property="user_id" column="USER_ID"/>
		<result property="reply_content" column="REPLY_CONTENT"/>
		<result property="regdate" column="REGDATE"/>
		<result property="updatedate" column="UPDATEDATE"/>
	</resultMap>
	
	<insert id="insertReply" parameterType="replyDto">
		INSERT INTO BLOG_REPLY
		VALUES(REPLY_NO_SEQ.NEXTVAL, #{blog_no}, #{user_id}, #{reply_content}, SYSDATE, SYSDATE)
	</insert>
	
	<select id="listReply" parameterType="int" resultType="replyDto">
		SELECT REPLY_NO, BLOG_NO, REPLY_CONTENT, USER_ID, REGDATE, UPDATEDATE
		FROM BLOG_REPLY
		JOIN E_USER USING(USER_ID)
		WHERE BLOG_NO = #{blog_no}
		ORDER BY REPLY_NO
	</select>
	
	<select id="selectReply" parameterType="int" resultType="replyDto">
		SELECT REPLY_NO, BLOG_NO, REPLY_CONTENT, USER_ID, REGDATE, UPDATEDATE
		FROM BLOG_REPLY
		WHERE REPLY_NO = #{reply_no}
		AND BLOG_NO = #{blog_no}
	</select>
	
	<update id="updateReply" parameterType="replyDto">
		UPDATE BLOG_REPLY
		SET REPLY_CONTENT = #{reply_content}
		WHERE REPLY_NO = #{reply_no}
		AND BLOG_NO = #{blog_no}
	</update>
	
	
</mapper>