<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="subscription">
	<resultMap type="subscriptionDto" id="subscriptionMap">
		<result property="subscription_id" column="SUBSCRIPTION_ID" />
		<result property="user_id" column="USER_ID" />
		<result property="subscription_title" column="SUBSCRIPTION_TITLE" />
		<result property="subscription_price" column="SUBSCRIPTION_PRICE" />
		<result property="subscription_type" column="SUBSCRIPTION_TYPE" />
	</resultMap>
	
	<select id="subscriptionList" parameterType="list" resultMap="subscriptionMap">
		SELECT * FROM SUBSCRIPTION
		ORDER BY SUBSCRIPTION_ID DESC
	</select>
</mapper>