@charset "UTF-8";

 #modal{
			  display:none;
			  position:fixed; 
			  width:100%; 
			  height:100%;
			  top:0; 
			  left:0; 
			  background:rgba(0,0,0,0.3);
			}
			.modal-con{
			  display:none;
			  position:fixed;
			  top:50%; left:50%;
			  transform: translate(-50%,-50%);
			  max-width: 70%;
			  min-height: 30%;
			  background:#fff;
			}
			.modal-con .title{
			  font-size:20px; 
			  font-weight:bold;
			  padding: 15px;
			  text-align:center; 
			  background : gold;
			}
			.modal-con .con{
			  font-size:15px; line-height:1.5;
			  padding: 30px;
			}
			.modal-con .close{
			  display:block;
			  position:absolute;
			  width:30px; height:30px;
			  text-align:center; line-height: 25px;
			  border-radius:35%; 
			  border: 2px solid #000;
			  text-decoration:none;
			  color:#000; font-size:20px; font-weight: bold;
			  right:10px; top:10px;
			}