@import "../variables.css";


 body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 	color:#2e363e;
}

html,body,div,h1,a,img,ul, li{
  margin:0;
  padding:0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
}
ul{
  list-style: none;
}

a{
	color:inherit;
	text-decoration: none;
}
.nav{
  background-color:var(--theme-color);
  width:100%;
  height:140px;
  box-sizing:border-box;
  display: inline-block;
  border-bottom:1px solid gray;
  box-shadow: 0px 4px 4px -4px gray;

}

.nav__logo img{
  width:160px;
}

.nav__list{
  margin-left:30px;
  display: flex;
  font-weight:600;
  font-size: 25px;
}
.nav__list li{
  position: relative;
  padding: 15px 30px;
}


.nav__list li a:hover{
  cursor: pointer;
}

.nav__recipe, .nav__blog, .nav__subscription, .nav__market, .nav__mypage, .nav__login {
  margin-top: 40px;
}

.nav__blog .nav-sub{
  display:none;
  position: absolute;
  top:30px;
  left:0;
  opacity: 0;
  font-size:20px; 
}

.nav__mypage .nav-sub{
  display:none;
  position: absolute;
  top:30px;
  left:0;
  opacity: 0;
  font-size:20px;
}

.nav__login .nav-sub {
  display:none;
  position: absolute;
  top:30px;
  left:0;
  opacity: 0;
  font-size:20px;
  width:130px;
}

.nav__list li a:hover{
  color:#ffffff;
  transition: all 0.2s;
}

.nav__blog:hover .nav-sub{
  display: block;
  opacity: 1;
}

.nav__blog:hover .nav-sub li{
  height: 30px;
  line-height: 30px;
  
}

.nav__mypage:hover .nav-sub{
  display: block;
  opacity: 1;
}

.nav__mypage:hover .nav-sub li{
  height: 30px;
  line-height: 30px;
}

.nav__login:hover .nav-sub{
  display: block;
  opacity: 1;
}

.nav__login:hover .nav-sub li{
  height: 30px;
  line-height: 30px;
}



.nav-sub{
  margin-top: 25px;
  border-top: 5px solid #E39279;
  background-color: #ffe084;
  transition: height 0.5s;
}

.nav-sub li{
	margin-top:5px;
	margin-bottom:5px;
	padding-top:0;
	padding-bottom:0;
}

.nav__list li a{
  transition: all 0.2s;
}


.nav__login-btn{
  margin-bottom: 30px;
  width: 70px;
  height: 40px;
  
  font-weight: bold;
  font-size: 16px;
  color:#fff;

  background: #F9A623;
  border: 1px solid #FFF2D1;
  
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}