@charset "UTF-8";

.page-navi {
	width: 100%;
	height: 20%;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%
}

.page-navi div span {
	color: rgb(148, 148, 32);
	font-size: larger;
}

.new-title {
	text-align: center;
}

.title-font {
	display: inline-block;
	font-family: "Noto Serif KR", serif, Helvetica, "Helvetica Neue", Arial;
	font-style: normal;
	font-weight: 800;
	font-size: 32px;
	letter-spacing: 1px;
	text-align: center;
	color: rgb(147, 112, 98);
	margin-top: 3%;
	border-bottom: 1px solid;
	margin-bottom: 40px;
}

.col-md-3 img {
	width: 100%;
	height: 200px;
}

.text-font {
	margin: 16px 0px 8px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 10px;
	letter-spacing: 1px;
	color: rgb(97, 97, 97);
	text-align: right;
}

.font-noto-sans {
	font-family: "Noto Sans KR", Helvetica, "Helvetica Neue", Arial,
		"sans-serif";
}

.sub-title:hover {
	color: rgb(147, 112, 98);
	cursor: pointer;
}

.sub-title {
	font-size: small;
}

.block {
	width: 100%;
	margin: 0px 0px 8% 0px;
	line-height: normal;
	box-shadow: 0px 4px 4px -4px gray;
	padding-bottom: 70px;
}

왜 안들어 가는거쥐--.block:nth-of-type(2n) {
	background-color: #ffe38f;
}

.thumbnail {
	width: 100%;
	height: 100%;
	border-radius: 15px 5px 5px 15px;
}

.heart {
	width: 20px;
	height: 20px;
}

.item-inner {
	display: flex;
	width: 100%;
	height: 100%;
	/*border:1px solid gray;*/
	box-shadow: 1px 1px 10px 1px rgb(143, 135, 135);
	border-radius: 15px;
}

.item-title, .item-heart {
	margin: 1% 5% 0% 5%;
}

.item-heart {
	width: 5%;
	text-align: center;
}

.recommend-menu .list-base {
	margin-left: 15%;
}

.list-base {
	width: 90%;
}

.recommend-menu {
	margin-bottom: 0px;
	box-shadow: 0;
}

li {
	list-style: none;
}

.a-tag {
	color: black;
	text-decoration: none;
}

.list-item {
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
}

/* product css */
.product-btn {
	width: 40px;
	height: 40px;
	margin-top: 150px;
}

.p-card {
	width: 20%;
	height: 500px;
	float: left;
	margin: 0 1%;
	box-shadow: 1px 1px 20px 1px rgb(143, 135, 135);
}

.product-btn:hover {
	cursor: pointer;
}

/* recent-Recipe */
.recent-cart {
	height: 380px;
}

.recent-title {
	margin: 1% 0 10px 0;
	font-size: 17px;
}

.recent-text {
	letter-spacing: 0.5px;
	font-size: 15px;
	margin-bottom: 90%;
}

.recipe-no {
	display: none;
}

.card-img-top:hover, .card-title:hover, .recipe-text:hover,
	.product-text:hover, .heart:hover, .a-tag:hover, .thumbnail:hover,
	.subSection-img:hover, .item-inner:hover {
	cursor: pointer;
}

.card-img-top {
	width: 100%;
	height: 100%;
}

.card-img-div {
	width: 100%;
	height: 55%;
	margin: 15px 0;
}

.popular-text {
	margin-right: 10%;
	margin-bottom: 0px;
	font-size: 15px;
	letter-spacing: 1px;
}

.pop-title {
	padding-left: 3%;
	width: 100%;
	height: 20%;
	font-size: large;
	color: gray;
	margin-top: 10px;
}

.pop-content {
	margin-top: 5px;
	width: 100%;
	height: 80%;
	padding: 5px;
	letter-spacing: 1px;
}

.item-img {
	width: 25%;
	height: 100%;
}

.item-title {
	width: 75%;
}

.p_title {
	font-size: larger;
	font-weight: 400;
}