@charset "UTF-8";

ul{
  list-style: none;
}
a{
  color:inherit;
  text-decoration: none;
}

.blog-article{
	height: 750px;
}

.blog-article__listbox{
  align-items: center;
  width: 100%;
  margin: 40px 10%;
}

.blog-article__list{
	height:550px;
	margin-left:3%;
}

.blog-article__list li{
	width:980px;
  margin:20px 0;
  height:140px;
  border:0.5px solid rgba(213, 214, 118, 0.7);
  box-sizing:border-box;
  padding: 11px;
  border-radius: 2px;
  box-shadow: 5px 5px 0px rgba(176, 179, 32, 0.7);
  transition: 0.25s;
}
.blog-article__list li:hover{
  box-shadow: inset 5px 5px 0px rgba(200, 202, 79, 0.7);
  transform: translateY(3px);
}
.blog-article__list a{
  display: flex;
  justify-content: space-between;
 	text-decoration:none;
 	color:#2e363e;
}

.blog-article__list div{
  height:110px;
}

.blog-article__list-title{
  width:230px;
  text-align: center;
  align-items: center;
  color: rgb(95, 95, 95);
  border-right: 0.5px solid gainsboro;
}

.blog-article__list-title h3{
  font-size: 20px;
  margin-top:15%;
}

.fa-heart{
  margin-top: 10px;
  margin-right: 13em;
  color:rgb(255, 119, 95);
}

.blog-article__list-title span{
	font:italic 12px "Fira Sans", serif;
}

.blog-article__list-content{
  width:490px;
  align-items: center;
  font-size: 13px;
  overflow: hidden;
}
.blog-article__list-content p{
	margin-top:10px;
  padding: 5px;
}


.blog-article__list-img{
  width:200px;
  border-radius: 1px;
  border:0.5px solid gainsboro;
  
}
.blog-article__list-img img{
  width:100%;
  height:100%;
  object-fit:cover;
}

