@charset "UTF-8";

.reply-update__modal{
  position:fixed;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  top:0;
  left:0;
  display:none;
  z-index:2;
}

.reply-update__modal-content{
  width:600px; 
  height:300px;
  background:#fff; border-radius:10px;
  position:relative; 
  top:25%; 
  left:40%;
  margin-top:-20px; 
  margin-left:-200px;
  text-align:center;
  box-sizing:border-box; 
  padding:40px 30px;
  line-height:23px; 
  box-shadow: 0px 0px 30px rgba(0,0,0,0.8);
  color:#444444;
}

.fa-times{
  float: right;
  cursor: pointer;
}

.reply-update__modal-content h5{
  font-size: 20px;
  font-weight: 500;
  border-bottom: 0.3px solid rgb(236, 236, 236);
  padding-bottom: 10px;
}

.reply-update__modal-content form {
  text-align: center;
  font-size: 15px;
  line-height:35px;
 
}

.reply-update__modal-content form textarea{
  resize: none;
  width:99%;
  height:110px;
  padding:10px;
  border:0.5px solid gainsboro;
  font-size: 14px;
  text-align: justify;
}

.reply-update__modal-content form input[name="reply-update-submit"]{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 300; 
  font-size: 20px;
  font-style: normal;
  width: 35px;
	height: 35px;
  border-radius: 10px;
  transition: 0.25s;
	margin-left: 7px;
  border:0.5px solid rgba(213, 214, 118, 0.7);
  background-color: #fae57f;
  box-shadow: 3px 3px 0px rgba(176, 179, 32, 0.7);
  cursor: pointer;
}

.reply-update__modal-content input[name="reply-update-submit"]:hover{
  cursor: pointer;
  transform: translateY(3px);
	color: rgb(250, 119, 96);
	background-color: #fae57f;
  box-shadow: inset 2px 2px 0px rgba(200, 202, 79, 0.7);
}

