@charset "UTF-8";

.blog-write__content {
  margin: 40px 20px;
  text-align: center;
}

.blog-write__content-title{
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 0.3px solid rgb(235, 235, 235);
}

.blog-write__content-title>h2{
  font-size: 25px;
  margin-left: -50px;
  color:#444444;
}