@charset "UTF-8";

@import "blog-detail-content.css";

@import "blog-detail-reply.css";

@import "blog-detail-report.css";

body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 	color:#2e363e;
}

