@charset "UTF-8";

ul{
  list-style: none;
  
}
a{
  color:inherit;
  text-decoration: none;
}

/* write button */
.event-write-btn{
  text-align:right;
  margin-top: 20px;
  margin-right: 10%;
}
.event-write-btn input[type="button"]{
  width: 90px;
	height: 42px;
	font-weight: bold;
	transition: 0.25s;
  border:0.5px solid rgb(245, 203, 66);
  background-color: #fae57f;
  box-shadow: 3px 3px 0px rgba(255, 153, 0, 0.6);
}

.event-write-btn input[type="button"]:hover{
  cursor: pointer;
  transform: translateY(3px);
	color: rgb(233, 133, 2);
	background-color: #fae57f;
  box-shadow: inset 2px 2px 0px rgba(255, 153, 0, 0.6);
}

/* list */
.event-article__listbox{
  align-items: center;
  width: 80%;
  margin: 20px 14%;
}

.event-article__list{
	margin-left:50px;
}

.event-article__list li{
  border:0.5px solid rgb(202, 202, 202);
  box-shadow: 0px 0px 5px rgba(116, 116, 116, 0.6);
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  margin:20px;
}


figure.event-article__list-img {
  position: relative;
  overflow: hidden;
  margin: 0px;
  min-width: 170px;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  
}

figure.event-article__list-img * {
  box-sizing: border-box;
  transition: all 0.45s ease-in-out;
}

figure.event-article__list-img img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.event-article__list-img figcaption {
  position: absolute;
  top: 40%;
  left: 7%;
  right: 7%;
  bottom: 40%;
  border: 0.5px solid white;
  border-width: 1px 1px 0;
}
figure.event-article__list-img .event-article__list-title {
  overflow: hidden;
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}

figure.event-article__list-img h3 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

figure.event-article__list-img h3 span {
  font-weight: 800;
  
}

figure.event-article__list-img h3:before,
figure.event-article__list-img h3:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 47%;
}

figure.event-article__list-img h3:before {
  left: -1000%;
}
figure.event-article__list-img h3:after {
  right: -1000%;
}

figure.event-article__list-img p {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 1em;
}

figure.event-article__list-img a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.event-article__list-img:hover img {
  opacity: 0.25;
  transform: scale(1.1);
}
figure.event-article__list-img:hover figcaption{
  top: 12%;
  bottom: 12%;
}
figure.event-article__list-img:hover p {
  opacity: 1;
  transition-delay: 0.3s;
}


/* paging */
.event-article__paging{
	height:90px;
  margin-top: 35px;
  font-size: 22px;
  margin-left: 35%;
}

.event-article__paging li{
  display: inline;
  margin: 0px 10px;
  color:#666666;
  transition: 0.25s;
}

.event-article__paging li:hover{
  color: rgb(255, 157, 29);
  text-decoration: underline;
  transform: translateY(2px);
}